[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this is a test project
[access "refs/*"]
	owner = group user/Rohan Puri (rohan-puri)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rohan Puri (rohan-puri)
	label-Verified = -1..+1 group user/Rohan Puri (rohan-puri)
	push = group user/Rohan Puri (rohan-puri)
	read = group user/Rohan Puri (rohan-puri)
	rebase = group user/Rohan Puri (rohan-puri)
	removeReviewer = group user/Rohan Puri (rohan-puri)
	submit = group user/Rohan Puri (rohan-puri)
[access "refs/heads/*"]
	create = group user/Rohan Puri (rohan-puri)
	push = +force group user/Rohan Puri (rohan-puri)
	pushMerge = group user/Rohan Puri (rohan-puri)
	read = group user/Rohan Puri (rohan-puri)
[access "refs/tags/*"]
	push = group user/Rohan Puri (rohan-puri)
	push = +force group user/Rohan Puri (rohan-puri)
